In [1]:
# Importing libraries

import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from extract_dates import dates
from extract_viewers import viewers
from extract_episode import episodes

In [2]:
# Requesting data from the web

url = 'https://en.wikipedia.org/wiki/List_of_The_Big_Bang_Theory_episodes'
headers = {
    "User-Agent": "user agent"}  # Please substitute "user agent" with your own one

page = requests.get(url, headers=headers)

soup = BeautifulSoup(page.content, 'html.parser')
total_episodes = []
total_viewers = []
total_dates = []

In [3]:
# Extracting data for Season 1 (rows in Season's 1 table = 17)

episodes_1_int = episodes(soup, 0, 17)
viewers_1_float = viewers(soup, 0, 17)
air_dates_1 = dates(soup, 0, 17)

total_episodes.append(episodes_1_int)
total_viewers.append(viewers_1_float)
total_dates.append(air_dates_1)

In [4]:
# Example of first extraction

print(f'Episodes for Season 1: {episodes_1_int}')
print(f'Viewers (millions) for Season 1: {viewers_1_float}')
print(f'Air dates for Season 1: {air_dates_1}')

Episodes for Season 1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Viewers (millions) for Season 1: [9.52, 8.58, 8.36, 8.15, 8.81, 8.92, 9.68, 9.32, 9.11, 8.63, 8.68, 7.69, 7.51, 8.07, 7.38, 7.79, 7.34]
Air dates for Season 1: ['2007-09-24', '2007-10-01', '2007-10-08', '2007-10-15', '2007-10-22', '2007-10-29', '2007-11-05', '2007-11-12', '2008-03-17', '2008-03-24', '2008-03-31', '2008-04-14', '2008-04-21', '2008-04-28', '2008-05-05', '2008-05-12', '2008-05-19']

In [5]:
# Now we can proceed with the scraping for all season's data:

# Extracting data for Season 2 (rows in Season's 2 table = 23)

episodes_2_int = episodes(soup, 1, 23)
viewers_2_float = viewers(soup, 1, 23)
air_dates_2 = dates(soup, 1, 23)

total_episodes.append(episodes_2_int)
total_viewers.append(viewers_2_float)
total_dates.append(air_dates_2)

# Extracting data for Season 3 (rows in Season's 3 table = 23)

episodes_3_int = episodes(soup, 2, 23)
viewers_3_float = viewers(soup, 2, 23)
air_dates_3 = dates(soup, 2, 23)

total_episodes.append(episodes_3_int)
total_viewers.append(viewers_3_float)
total_dates.append(air_dates_3)

# Extracting data for Season 4 (rows in Season's 4 table = 24)

episodes_4_int = episodes(soup, 3, 24)
viewers_4_float = viewers(soup, 3, 24)
air_dates_4 = dates(soup, 3, 24)

total_episodes.append(episodes_4_int)
total_viewers.append(viewers_4_float)
total_dates.append(air_dates_4)

# Extracting data for Season 5 (rows in Season's 5 table = 24)

episodes_5_int = episodes(soup, 4, 24)
viewers_5_float = viewers(soup, 4, 24)
air_dates_5 = dates(soup, 4, 24)

total_episodes.append(episodes_5_int)
total_viewers.append(viewers_5_float)
total_dates.append(air_dates_5)

# Extracting data for Season 6 (rows in Season's 6 table = 24)

episodes_6_int = episodes(soup, 5, 24)
viewers_6_float = viewers(soup, 5, 24)
air_dates_6 = dates(soup, 5, 24)

total_episodes.append(episodes_6_int)
total_viewers.append(viewers_6_float)
total_dates.append(air_dates_6)

# Extracting data for Season 7 (rows in Season's 7 table = 24)

episodes_7_int = episodes(soup, 6, 24)
viewers_7_float = viewers(soup, 6, 24)
air_dates_7 = dates(soup, 6, 24)

total_episodes.append(episodes_7_int)
total_viewers.append(viewers_7_float)
total_dates.append(air_dates_7)

# Extracting data for Season 8 (rows in Season's 8 table = 24)

episodes_8_int = episodes(soup, 7, 24)
viewers_8_float = viewers(soup, 7, 24)
air_dates_8 = dates(soup, 7, 24)

total_episodes.append(episodes_8_int)
total_viewers.append(viewers_8_float)
total_dates.append(air_dates_8)

# Extracting data for Season 9 (rows in Season's 9 table = 24)

episodes_9_int = episodes(soup, 8, 24)
viewers_9_float = viewers(soup, 8, 24)
air_dates_9 = dates(soup, 8, 24)

total_episodes.append(episodes_9_int)
total_viewers.append(viewers_9_float)
total_dates.append(air_dates_9)

# Extracting data for Season 10 (rows in Season's 10 table = 24)

episodes_10_int = episodes(soup, 9, 24)
viewers_10_float = viewers(soup, 9, 24)
air_dates_10 = dates(soup, 9, 24)

total_episodes.append(episodes_10_int)
total_viewers.append(viewers_10_float)
total_dates.append(air_dates_10)

# Extracting data for Season 11 (rows in Season's 11 table = 24)

episodes_11_int = episodes(soup, 10, 24)
viewers_11_float = viewers(soup, 10, 24)
air_dates_11 = dates(soup, 10, 24)

total_episodes.append(episodes_11_int)
total_viewers.append(viewers_11_float)
total_dates.append(air_dates_11)

# Extracting data for Season 12 (rows in Season's 12 table = 24)

episodes_12_int = episodes(soup, 11, 24)
viewers_12_float = viewers(soup, 11, 24)
air_dates_12 = dates(soup, 11, 24)

total_episodes.append(episodes_12_int)
total_viewers.append(viewers_12_float)
total_dates.append(air_dates_12)

In [6]:
# Manipulating each of the 3 total lists, in order to arrange them into a DataFrame

total_episodes_flat = [item for element in total_episodes for item in element]
total_viewers_flat = [item for element in total_viewers for item in element]
total_dates_flat = [item for element in total_dates for item in element]

total_episodes_array = np.array([total_episodes_flat])
total_viewers_array = np.array([total_viewers_flat])
total_dates_array = np.array([total_dates_flat])

total_episodes_t = total_episodes_array.T
total_viewers_t = total_viewers_array.T
total_dates_t = total_dates_array.T

In [7]:
# Arrange data into DataFrame and export as .csv file

df_episodes = pd.DataFrame(total_episodes_t, columns=['Episode'])

df_viewers = pd.DataFrame(total_viewers_t, columns=['Viewers (millions)'])

df_dates = pd.DataFrame(total_dates_t, columns=['Air date'])
df_dates['Air date'] = pd.to_datetime(df_dates['Air date'], format='%Y-%m-%d')

pd.concat([df_episodes, df_viewers, df_dates], axis=1).to_csv(r'C:Your_own_path\Scraping-results'r'.csv', index=False)  # Please substite your specific path for Jupyter projects

In [8]:
# Quick check of the resulting DataFrames, to verify if there is coherence with what we expected (279 rows per attribute)

print(df_episodes)
print(df_viewers)
print(df_dates)

     Episode
0          1
1          2
2          3
3          4
4          5
..       ...
274      275
275      276
276      277
277      278
278      279

[279 rows x 1 columns]
     Viewers (millions)
0                  9.52
1                  8.58
2                  8.36
3                  8.15
4                  8.81
..                  ...
274               11.84
275               12.48
276               12.59
277               18.52
278               18.52

[279 rows x 1 columns]
      Air date
0   2007-09-24
1   2007-10-01
2   2007-10-08
3   2007-10-15
4   2007-10-22
..         ...
274 2019-04-25
275 2019-05-02
276 2019-05-09
277 2019-05-16
278 2019-05-16

[279 rows x 1 columns]

In [9]:
# Importing and visualizing the scraped results

df = pd.read_csv('Scraping-results.csv')
df.head(10).style.hide_index().format(precision=2)